@import "tailwindcss";

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

::selection {
  background-color: #b5a6ff;
}

.bg-ram {
  background-color: #050307;
}

.no-scroll::-webkit-scrollbar {
  display: none;
}
.no-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.shine {
  animation: shine 5s linear infinite;
}

button {
  cursor: pointer;
}

.stroke-draw {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: draw-line 4s linear forwards;
}

@keyframes draw-line {
  to {
    stroke-dashoffset: 0;
  }
}

/* Marquee About Page */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* @keyframes marqueeReverse {
  0% {
    transform: translateX(-0%);
  }
  100% {
    transform: translateX(100%);
  }
} */
.animate-marquee {
  animation: marquee 230s linear infinite;
}
/* .animate-marquee-Rev {
  animation: marqueeReverse 230s linear infinite;
} */
.hover:paused:hover {
  animation-play-state: paused;
}

.my-masonry-grid {
  display: flex;
  margin-left: -16px;
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 24px;
}

.my-masonry-grid_column > img {
  width: 100%;
  display: block;
  margin-bottom: 24px;
  border-radius: 1.5rem;
  object-fit: cover;
}
